body {
    font-family: monospace;
    background-color: #6c71c4;
}

/* Title */

.title {
    padding-top: 6.5em;
}

.title h1 {
    font-size: 6em;
    color: #c4976c;
}

.title h2 {
    font-size: 5vw;
    color: #c4c36c;
}

/* Content */
.content {
  text-align: left;
}

.content p {
    font-size: 3em;
    color: #eee8d5;
}

.content a {
    color: #71c46c;
}

.content h2 {
    font-size: 5em;
    color: #c4c36c;
}
.content h3 {
    font-size: 3.5em;
    color: #c4816c;
}
.content h5 {
    font-size: 3.5em;
    color: #aba93c;
}

.content li {
    font-size: 2em;
    color: #c06cc4;
}

/* Footer */

.footer {
    padding-top: 6.5em;
    padding-bottom: 6.5em;
    text-align: center;
}
